<div v-show="showEdit" id="showEdit" style="display: none;" class="panel panel-default">
    <div class="panel-heading"><i class="fa fa-reply" @click="reload" aria-hidden="true" style="cursor: pointer;"></i>
        {{title}}
    </div>
    <form name="formEdit" action="" method="post" class="form-horizontal">
        <input type="hidden" name="id" v-model="model.id"/>

        <div class="form-group">
            <div class="col-sm-2 control-label">编辑类型</div>
            <div class="col-sm-4">
                <label class="radio-inline">
                    <input type="radio" name="operType" v-model="operType" value="1"> 数据
                </label>
                <label class="radio-inline">
                    <input type="radio" name="operType" v-model="operType" value="2"> 类型
                </label>
            </div>
        </div>
        <div class="form-group" v-show="operType==1">
            <div class="col-sm-2 control-label">类型</div>
            <div class="col-sm-4">
                <select name="parentId" v-model="model.parentId" class="form-control" valid='vselect' validname='类型'>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">名称</div>
            <div class="col-sm-4">
                <input class="form-control" type="text" name="name" v-model="model.name" valid='vtext' validname='名称'/>
            </div>
            <div class="col-sm-2 control-label">键</div>
            <div class="col-sm-4">
                <input class="form-control" type="text" name="key" v-model="model.key" valid='vtext' validname='键'/>
            </div>
        </div>
        <div class="form-group" v-if="operType==1">
            <div class="col-sm-2 control-label">值</div>
            <div class="col-sm-4">
                <textarea class="form-control" rows="3" cols="40" name="value" v-model="model.value" valid='vtext'
                          validname='值'></textarea>
            </div>
            <div class="col-sm-2 control-label">编码</div>
            <div class="col-sm-4">
                <input class="form-control" type="text" name="code" v-model="model.code"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">排序号</div>
            <div class="col-sm-4">
                <input class="form-control" type="text" name="sort" v-model="model.sort" valid='vnum_y'
                       validname='排序号'/>
            </div>
            <div class="col-sm-2 control-label">是否启用</div>
            <div class="col-sm-4">
                <label class="radio-inline">
                    <input type="radio" name="model.enable" v-model="model.enable" value="1"> 启用
                </label>
                <label class="radio-inline">
                    <input type="radio" name="model.enable" v-model="model.enable" value="2"> 禁用
                </label>
            </div>
        </div>

        <div class="form-group" v-if="operType==1">
            <div class="col-sm-2 control-label">是否拷贝</div>
            <div class="col-sm-4">
                <label class="radio-inline">
                    <input type="radio" name="model.copyStatus" v-model="model.copyStatus" value="2"> 不拷贝
                </label>
                <label class="radio-inline">
                    <input type="radio" name="model.copyStatus" v-model="model.copyStatus" value="1"> 拷贝
                </label>
            </div>
            <div class="col-sm-2 control-label">是否可更改</div>
            <div class="col-sm-4">
                <label class="radio-inline">
                    <input type="radio" name="model.changeStatus" v-model="model.changeStatus" value="1"> 可更改
                </label>
                <label class="radio-inline">
                    <input type="radio" name="model.changeStatus" v-model="model.changeStatus" value="2"> 不可更改
                </label>
            </div>
        </div>

        <div style="height: 10px;clear: both;">&nbsp;</div>
        <div class="form-group">
            <div class="col-sm-2 control-label"></div>
            <div class="col-sm-10">
                <a href="javascript:void(0);" class="btn btn-sm btn-primary" @click="save">保 存</a>
                <a href="javascript:void(0);" class="btn btn-sm btn-primary" @click="reload">返 回</a>
            </div>
        </div>

    </form>
</div>