<!DOCTYPE html>
<html>
<head>
    ${include "/pages/template/head.html" .}
    ${include "/pages/includes/ztree.html" .}
</head>
<body>
<div id="data_wrapper">
    <div v-show="showList" id="showList" style="display: none;">
        <div class="row" style="margin-right: 0px; margin-left: 0px; ">
            <div class="col-md-2">
                <ul id="tree" class="ztree" style="overflow:auto;"></ul>
            </div>

            <div class="col-md-10" id="data_content">
                <form name="formList" action="" method="post" class="form-inline" role="form">
                    <!-- <input type="hidden" id="parentid" name="parentid" value="0"/> -->
                    <div class="tableSearch">
                        <div class="form-group">
                            <input class="form-control" type="text" name="name" value=""
                                   placeholder="请输入部门"/>
                        </div>

                        <button type="button" class="btn btn-sm btn-primary" @click="reload" name="search">
                            <span class="glyphicon glyphicon-search"></span> 查 询
                        </button>
                        <button type="button" class="btn btn-sm btn-primary" onclick="dudu.resetForm();">
                            <span class="glyphicon glyphicon-refresh"></span> 重 置
                        </button>
                        <button type="button" class="btn btn-sm btn-primary" @click="add">
                            <span class="glyphicon glyphicon-plus"></span> 新 增
                        </button>
                    </div>
                </form>

                <!-- 这里格式不能变 -->
                <div id="jqGridEdit" style="display: none;">
                    <a href="javascript:void(0);" class="btn btn-xs btn-primary" onclick="vm.update([id]);">修改</a>
                    <a href="javascript:void(0);" class="btn btn-xs btn-danger" onclick="vm.del([id]);">删除</a>
                </div>
                <table id="jqGrid"></table>
                <div id="jqGridPager"></div>
            </div>

        </div>
    </div>

    ${include "pages/system/department_edit.html" .}

</div>
<script type="text/javascript" src="${.ctx}/resources/js/system/department.js?t=${.now}"></script>
</body>
</html>