<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>控制台</title>
	<link rel="stylesheet" href="${.ctx}/statics/css/bootstrap.min.css">
</head>
<body>
<div class="container">
	<h1 class="text-center">欢迎登录系统管理平台</h1>
	<div class="row">
		<div class="panel panel-default">
			<div class="panel-heading">项目介绍</div>
			<div class="panel-body">
				<p>gmanager基于gf框架的管理平台，支持登录、认证、组织机构、用户、角色、菜单、日志</p>
				<p>github地址：<a href="https://github.com/goflyfox/gmanager" target="_blank">https://github.com/goflyfox/gmanager</a></p>
				<p>gitee地址：<a href="https://gitee.com/goflyfox/gmanager" target="_blank">https://gitee.com/goflyfox/gmanager</a></p>
			</div>

		</div>
	</div>

</div>

</body>
</html>