<link rel="stylesheet" href="static/component/jqGrid/css/ui.jqgrid-bootstrap.css">
<script type="text/javascript" src="static/component/jqGrid/js/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="static/component/jqGrid/js/i18n/grid.locale-cn.js"></script>
<script type="text/javascript" src="static/component/jqGrid/js/jquery.jqGrid.min.js"></script>
<!-- 
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
 -->
<script type="text/javascript" src="static/component/jqGrid/src/grid.inlinedit.js"></script>
<script type="text/ecmascript" src="static/component/jqGrid/js/bootstrap-datepicker.js"></script> 
<link rel="stylesheet" href="static/component/jqGrid/css/jquery-ui-timepicker-addon.css">