node_modules
.DS_Store
dist
dist-ssr
*.local
.history

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.local

stats.html
pnpm-lock.yaml
package-lock.json
.stylelintcache
.eslintcache
